@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Urbanist:wght@200&display=swap");

* {
  font-family: "Urbanist", sans-serif;
  background-color: black;
}

nav {
  padding: 1rem 1rem;
}
.container {
  display: flex;
}

.logo img {
  width: 150px;
  height: auto;
}

ul {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding-top: 5rem;
}
a {
  color: white;
  text-decoration: none;
  margin: 0 3rem 0 3rem;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

a:hover {
  color: rgba(255, 255, 255, 0.438);
}
