@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Urbanist:wght@200&display=swap");

* {
  color: white;
  font-family: "Urbanist", serif;
}

.container {
  display: flex;
  margin-top: 3rem;
  padding: 0;
}

button {
  color: rgb(255, 255, 255);
  background-color: rgb(160, 95, 100);
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.name {
  font-size: 20rem;
  color: rgb(252, 252, 252);
}

.info {
  margin-left: 2rem;
  margin-top: 10%;
  color: black;
  font-size: 1.5rem;
}
