<div class="container">
  <div class="info">
    <p>
      <br />
      Rachel Richter
      <br />
      Språk: Svenska, engelska
      <br />
      Adress: Anna Whitlocks Gata 16, 113 66 Stockholm
      <br />
      Telefon nummer: 0760-812595
      <br />
      E-mail: rachel.marie.richter@gmail.com
      <br />
      <br />
    </p>
  </div>

  <div class="title">
    <p>Arbetslivserfarenhet</p>
  </div>
  <div class="work">
    <p>
      Frontendutveckling, Creekside Coffe Company, 2021
      <br />
      Jag har omdesignat företagets hemsida i Google Sites för att göra sidan
      mer tillgänglig, tydlig och inbjudande för kunder.
    </p>
    <br />
    <br />
    <p>
      Näringsterapeut, deltid som egenföretagare, 2018 - 2020
      <br />
      Jag hjälper mina klienter att stötta deras fysiska och mentala hälsa genom
      näringsterapi och coaching. Mitt arbete fokuserar på att samla in och
      analysera data, motiverande samtal och att utforma en individuell plan för
      varje klient. Ytterligare en aspekt är att attrahera nya klienter och att
      bygga en klientbas genom sociala medier, mitt egna nätverk samt tidigare
      klienters rekommendationer.
    </p>
  </div>
  <div class="work">
    <p>
      Behandlingspedagog, Attendo 2018 - 2019
      <br />
      I den här rollen var jag ansvarig för att utforma och implementera
      handlingsplaner för 4-5 ungdomar utifrån deras personliga behov gällande
      utbildning, ekonomi, relationer och att sköta hemmet. Jag samarbetade med
      nätverket runt varje ungdom genom dokumentation och uppföljningsmöten där
      vi diskuterade deras utveckling.
    </p>
  </div>
  <div class="work">
    <p>
      Konsult, Delta Nordic 2018 - 2019
      <br />
      Jag var en del av det tekniska supportteamet där min huvuduppgift var att
      skriva och updatera manualer för teknikerna i Excel med målet att höja
      effektiviteten i produktionen. Jag lade extra tonvikt vid noggranhet och
      snabbhet så att teamet kunde frigöras från eftersläpande, ofärdiga
      manualer.
    </p>
  </div>
  <div class="work">
    <p>
      Familjehem, Skillstreaming 2017 - 2018
      <br />
      Jag var familjehem på heltid till en tonårstjej med särskilda behov. Mitt
      fokus var att bygga en god relation, lära ut/vägldea kring positiva
      sociala förmågor och att ha motiverande samtal kring skolan och andra
      områden i hennes liv.
    </p>
  </div>
  <div class="work">
    <p>
      Behandlingsassistent, Attendo Sköldmö Put 2015 - 2017
      <br />
      Som Behandlingsassistent på ett stödboende för ensamkommande ungdomar
      arbetade jag i ett team med mina kollegor för att stötta ungdomarna i sitt
      dagliga liv samtidigt som vi arbetade för att minska problembeteenden.
    </p>
  </div>
  <div class="title">
    <p>Utbildning</p>
  </div>
  <div class="work">
    <p>Frontendutveckling, EC Utbildning, 2020-2022</p>
    <p>Kurser i UX-design, ramverk, backend för frontendutvecklare</p>
    <br />
    <p>
      C Programmering, Metropolia UAS i Helsinki, Finland 2020 - 2020
      <br />

      Introduktion till C-programmering.
      <br />
      <br />
      Näringsterapeut, Näringsmedicinska skolan 2017 - 2019
      <br />
      <br />
      Fristående kurser, universitet i Sverige 2016 - 2018
      <br />
      <br />
      Sociologi, Uppsala Universitet 2012 - 2015
      <br />
      <br />
      Gymnasieutbildning med inriktning ekonomi och politik, Lundellska skolan i
      Uppsala, 2002 - 2005
    </p>
  </div>
</div>
