<div class="container">
  <div class="about">
    <p>
      Just nu påbörjar jag mitt andra läsår som student inom frontendutveckling
      på
      <a
        href="https://ecutbildning.se/utbildningar/frontendutvecklare/vasteras/"
        >EC Utbildning</a
      >
      och jag ångrar inte en sekund att jag valde att byta bana. Genom min
      bakgrund som beteendevetare och näringsterapeut har jag förstått att det
      roligaste jag vet är att lösa problem. Som frontendutvecklare har jag
      fortsatt möjlighet att ta mig ann mänskliga problem med ännu fler verktyg.
      Jag får numera min "problemlösarkick" av att lära mig nya sätt att skriva
      kod, söka fram smidiga lösningar och färdigställa roliga projekt.
      <br />
      <br />
      Mitt mål är att arbeta med meningsfulla projekt där jag känner att jag och
      mina kollegor bidrar till en positiv utveckling för samhället. Det grundar
      sig i att ha arbetat nära människor i så många år och att ha sett kraften
      i tydlig kommunikation, tillgänglighet, mångfald och autenticitet. Just
      därför är jag också utöver frontendutveckling väldigt nyfiken på och
      intresserad av UX-design och psykologin bakom hur vi människor interagerar
      med webben.
      <br />
      <br />
      När jag inte kodar jobbar jag med ett poddprojekt om neurodiversitet,
      tränar min 2-åriga belgiska vallhund, träffar vänner och mediterar. Jag
      älskar också att resa - senast bodde jag i Helsingfors ett år och innan
      dess har jag bott månadsvis i bland annat Turkiet och Indien.
    </p>
  </div>
  <div class="profile">
    <img src="assets/img/Profil.png" alt="" />
  </div>
</div>
