* {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
  color: white;
  font-size: 1.3rem;
}

img {
  height: 12rem;
  width: auto;
}

.container {
  display: flex;
}

p {
  margin-left: 2rem;
}
